body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    transform: 0.3s ease
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 58.76 hug-abs;
    position: fixed;
    margin-bottom: 200px;
    z-index: 5;
}

.logo {
    width: 100.34 hug-abs;
    height: 30.76 hug-abs;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
}

h6 {
    font-size: 20px;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    letter-spacing: 2px;
    border: 0px;
    margin: 0%;
}

.logo img {
  width: 50px;
  height: 30px;
}

.ull1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 673.7px;
}

.ull1 li {
    list-style: none;
}

.ull1 li a {
    text-decoration: none;
    color: black;
    font-size: 14px;
    text-transform: capitalize;
    
}

button {
    color: #ffffff;
    padding: 10px 20px;
    background-color: #4CAF4F;
    border: none;
    cursor: pointer;
    width: 100.34 hug-abs;
    height: 30.76 hug-abs;
    border-radius: 5px;
}

a:hover {
    color: #ffffff;
    background-color: #4CAF4F;
    padding: 15px;
    border-radius: 3px;

}

.sec-1 {
    padding-top: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 500px;
    background-color: #F5F7FA;
}

.sec-1 p {
    font-size: 38px;
    color: #4D4D4D;
    width: 400px;
    font-weight: bold;

}

span {
    color: #4CAF4F;
    font-weight: bold;
}

h4 {
    color: #717171;
}

button:hover {
    background-color: #45a049;
    transform: scale(1.3);

}

img {
    transition: transform 0.8s ease-in-out;
}

img:hover,
.logo:hover {
    transform: scale(1.3);
}

.sec-2 {
    flex-direction: column;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 150px;
    background-color: rgb(255, 255, 255);
}

.sec-2 .h2 {
    color: #717171;
}

.s2 {
    margin-top: 20px;
    color: #4D4D4D;
    font-weight: bold;
    font-size: 30px;
}

.sec-2 ul {
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
}

.sec-3 {
    text-align: center;
    margin: auto;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 32%;
    height: 130px;
    background-color: rgb(255, 253, 253);
}

.s3 {
    margin-top: 15px;
    color: #4D4D4D;
    font-weight: bold;
    font-size: 30px;
}

.p3 {
    color: #717171;
}

.sec-4 {
    margin-top: 0px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 300px;
    background-color: #F5F7FA;
}

.sec-4 div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 200px;
    background-color: #F5F7FA;
    margin: 20px;
}

.sec-4 div img {
    width: 60px;
    height: 60px;
}

.sec-4 div h4 {
    margin-top: 8px;
    color: #4D4D4D;
    font-weight: bold;
    font-size: 28px;
    margin-bottom: 5px;
}

.sec-4 div p {
    color: #717171;
    margin-top: 3px;
    font-weight: normal;
    font-size: 15px;

}

.sec-4 div img {
    box-shadow: 20px 5px rgba(34, 255, 0, 0.27);
    border-radius: 10px;
}

.sec-5 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 400px;
    background-color: rgb(255, 255, 255);
}

.sec-5 div {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 560px;
    height: 300px;
    background-color: rgb(255, 255, 255);

}

.sec-5 img {
    width: 400px;
    height: 400px;

}

.sec-5 div h4 {
    color: #4D4D4D;
    font-weight: bold;
    font-size: 28px;
    margin-bottom: 20px;
}

.sec-5 div button {
    align-self: flex-start;
    margin-top: 20px;
    color: #ffffff;
    padding: 10px 20px;
    background-color: #4CAF4F;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.sec-6 {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 300px;
    background-color: #F5F7FA;
}

.sec-6 .cont {
    margin-top: 20px;
    width: 400px;

}

.sec-6 .cont h3 {
    margin: 0px;
    color: #4D4D4D;
    font-weight: bold;
    font-size: 30px;
}

.sec-6 .cont p {
    margin: 4px;
    color: #717171;
    font-size: 14px;
}

.sec-6 .con6 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 500px;
    height: 200px;
}

.con6 p {
    margin: 0px;
    color: #4D4D4D;
    font-size: 18px;
}

.con6 nav {
    color: #717171;
    font-size: 12px;
}

.sec-7 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 400px;
    background-color: rgb(255, 255, 255);
}

.sec-7 div {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 560px;
    height: 300px;
    background-color: rgb(255, 255, 255);

}

.sec-7 div h4 {
    color: #4D4D4D;
    font-weight: bold;
    font-size: 28px;
    margin-bottom: 20px;
}

.sec-7 div button {
    align-self: flex-start;
    margin-top: 20px;
    color: #ffffff;
    padding: 10px 20px;
    background-color: #4CAF4F;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.sec-7 img {
    width: 400px;
    height: 400px;

}

.sec-7 img:hover,
.sec-5 img:hover {
    transform: scale(1.1);
}

.sec-5 p,
.sec-7 p {
    color: #717171;
}

.sec-8 {
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 360px;
    background-color: #F5F7FA;
}

.sec-8 .cont8 {
    margin-top: 20px;
    width: 800px;
    height: 300px;
}

.sec-8 .cont8 p {
    color: #4D4D4D;
    font-size: 18px;
}

.sec-8 .cont8 h4 {
    margin: 0px;
    margin-bottom: 10px;
    color: #4CAF4F;
    font-weight: bold;
    font-size: 22px;
}

.sec-8 .cont8 span {
    color: #89939E;
    font-size: 20px;
    margin-top: 50px;
}


.sec-8 .im8 img {
    margin-top: 10px;
    width: 350px;
    height: 350px;
}

.im8 img:hover {
    transform: scale(1.1);
}

.logo8 {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo8 img {
    width: 43px;
    height: 35px;
}

.sec-8 button {
    font-weight: bold;
    font-size: 20px;
    margin-top: 10px;
    color: #4CAF4F;
    background-color: #F5F7FA;
    border: none;
    cursor: pointer;
    text-transform: capitalize;
}

.sec-9 {
    width: 100%;

}

.cont9 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 160px;
    background-color: rgb(255, 255, 255);
}

.cont9 h3 {
    color: #4D4D4D;
    font-weight: bold;
    font-size: 26px;
    margin: 5px;
}

.cont9 p {
    margin: 0px;
    width: 47%;
    color: #717171;
    text-align: center;
    font-size: 17px;
}

.sec-10 {
    margin-bottom: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 300px;
}

.sec-10 img {
    width: 300px;
    height: 300px;
}

.z1,
.z2,
.z3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 300px;
    background-color: rgb(255, 255, 255);
}

.bc1,
.bc2,
.bc3 {
    text-align: center;
    width: 224px;
    height: 115px;
    background-color: #F5F7FA;
    border-radius: 12px;
    position: absolute;
    transform: translatey(82%);
}

.sec-10 p {
    color: #4D4D4D;
    font-size: 16px;
    margin-bottom: 0px;
    letter-spacing: 1px;
}

.sec-10 button {
    font-size: 20px;
    color: #4CAF4F;
    background-color: #F5F7FA;
    border: none;
    cursor: pointer;
}

.last {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 270px;
    background-color: #F5F7FA;
}

.last h1 {
    text-align: center;
    width: 600px;
    color: #4D4D4D;
    font-weight: bold;
    font-size: 45px;
    margin-bottom: 20px;
}

.last button {
    color: #ffffff;
    padding: 10px 20px;
    background-color: #4CAF4F;
    border: none;
    cursor: pointer;
    border-radius: 2px;
    transform: scale(1.3);
}

.last button:hover {
    background-color: #45a049;
    transform: scale(1.5);
}

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 300px;
    background-color: #263238;
}

footer .c {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    height: 100px;
    margin-bottom: 5px;
}

.c .c1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.c1 h6 {
    color: #ffffff;
    font-size: 34px;
    font-weight: bold;
}

.c1 img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.c .c2 {
    color: #cdcdcd;
    font-size: 14px;
}

.footer-links {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 100px;
    margin-left:50px ;

}

.links1 , .links2 , .links3 {   
    width: 600px;
    height: 200px;
}

.footer-links ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    list-style: none;
}
.footer-links ul li a { 
    color: #cdcdcd;
    font-size: 12px;
  text-decoration: none;
}
.footer-links h4 {
    font-size: 17px;
    font-weight: bold;
    color: #ffffff;
}
input{
    background-color: #909090;
    border-radius: 5px;
}
input::placeholder{
  color: #4a4949;
}
.footer-links a:hover{
    transform: none;
}
